*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
dev-db
mongo-db
docular_generated/
client/js/services/lb-services.js
bower_components
storage
tmpls.js
ctrls.js
credentials.production.json
